# DB Key
DATABASE_URL="postgresql://admin:estudonext@localhost:3060/estudonext"

# Google Keys
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Next Auth Keys
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="Secret Key"